/* This feels like spaghetti code */

* {color: #ffffff;}

* {font-family: Verdana;}
    
body {
    width: 100%;
    margin: auto;
}

html {
    background-color: hsl(0, 1%, 20%);
}

main {
    background-image: url("../../images/Background\ Image.png");
    background-color: hsl(0, 1%, 20%);
    column-count: 1;
}

img {
    width: 100%;
}

td, th {
    border: 2px solid black;
    padding: 3px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

thead, th {
    background-color: orange;
    text-transform: uppercase;
}

tr:nth-of-type(even) {
    background-color: #ffcc80;
}

tr:nth-of-type(odd) {
    background-color: #ffffff;
}

input, textarea {
    display: block;
}

input[type=checkbox] {
    display: inline-block;
}

.centered_text {
    text-align: center; 
    vertical-align: middle; 
    width: 100%; 
    font-weight: bold;
}

.centered_text_heading {
    font-family: Garamond; 
    font-size: 35px; 
    font-weight: bold; 
    text-align: center; 
    vertical-align: middle; 
    width: 100%;
}

.black_text {
    color: black;
}

.float {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.float_newsun {
    float: left;
    padding-right: 30px;
    padding-left: 10px;
}

.tblrow {
    display: table-row;
}

.tblcell {
    display: inline-block;
    border: 2px solid black;
    padding: 3px;
    background-color: white;
    text-align: center;
    width: 230px!important;
}

.tblcell1 {
    border: 2px solid black;
    padding: 3px;
    background-color: orange;
    text-align: center;  
    width: 470px!important;
}

.tblcell2 {
    display: inline-block;
    border: 2px solid black;
    padding: 3px;
    background-color: orange;
    text-align: center;
    width: 230px!important;
}

#table {
    display: table;
    margin: 15px auto;
}

#black_text {
    color: black;
}

#cerebrusimg {
    max-width: 305px;
}

#gwportrait {
    max-width: 70px;
}

#newsunimg {
    max-width: 318px;
}

#header {
    background-color: black; 
    margin: auto; 
    width: 100%;
}

#header_w80 {
    background-color: black; 
    margin: auto; 
    width: 80%;
}

#header_padding {
    background-color: black; 
    width: 100%; 
    padding: 10px 0px;
}

em {
    font-weight: 700;
    font-style: oblique;
}

#bullet_list {
    list-style-image: url(https://cdn.discordapp.com/attachments/1019679825545408522/1027685556651556944/genewolfe.png);
}

footer a {
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

nav {
    text-align: center;
}
  
nav li {
    display: inline-block;
    width: 20%;
    background-color: black;
    padding: 5px;
}

nav li:hover {
    background-color: purple;
    padding: 5px;
}

footer {
    position: relative;
    bottom: 0;
    margin: auto;
}

iframe {
    max-width: 773px;
    width: 100%;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    
    * {color: #ffffff;}

    * {font-family: Verdana;}
    
    body {
        width: 80%;
        margin: auto;
    }

    html {
        background-color: hsl(0, 1%, 20%);

    }

    main {
        background-image: url("../../images/Background\ Image.png");
        background-color: hsl(0, 1%, 20%);
        column-count: 2;
    }

    .centered_text {
        text-align: center; 
        vertical-align: middle; 
        width: 100%; 
        font-weight: bold;
    }

    .centered_text_heading {
        font-family: Garamond; 
        font-size: 35px; 
        font-weight: bold; 
        text-align: center; 
        vertical-align: middle; 
        width: 100%;
    }

    .black_text {
        color: black;
    }

    .float {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }

    .float_newsun {
        float: left;
        padding-right: 30px;
        padding-left: 10px;
    }

    .tblcell1 {
        width: 230px!important;
    }

    #header {
        background-color: black; 
        margin: auto; 
        width: 100%;
    }

    #header_w80 {
        background-color: black; 
        margin: auto; 
        width: 80%;
    }

    #header_padding {
        background-color: black; 
        width: 100%; 
        padding: 10px 0px;
    }

    .tblcell1 {
        width: 230px!important;
    }

    em {
        font-weight: 700;
        font-style: oblique;
    }

    #bullet_list {
        list-style-image: url(https://cdn.discordapp.com/attachments/1019679825545408522/1027685556651556944/genewolfe.png);
    }

    #table {
        display: block;
        margin: 15px auto;
    }

    footer a {
        background-color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    nav ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        background-color: black;
    }

    nav {
        text-align: center;
    }
  
    nav li {
        display: inline-block;
        width: 20%;
        background-color: black;
        padding: 5px;
    }

    nav li:hover {
        background-color: purple;
        padding: 5px;
    }

    footer {
        position: relative;
        bottom: 0;
        margin: auto;
    }
   
}

@media only screen and (min-width: 1200px) {
    
    * {color: #ffffff;}

    * {font-family: Verdana;}

    html {
        background-color: hsl(0, 1%, 20%);
    }

    main {
        background-image: url("../../images/Background\ Image.png");
        background-color: hsl(0, 1%, 20%);
        column-count: 1; 
    }

    .centered_text {
        text-align: center; 
        vertical-align: middle; 
        width: 100%; 
        font-weight: bold;
    }

    .centered_text_heading {
        font-family: Garamond; 
        font-size: 35px; 
        font-weight: bold; 
        text-align: center; 
        vertical-align: middle; 
        width: 100%;
    }

    .black_text {
        color: black;
    }

    .float {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }

    .float_newsun {
        float: left;
        padding-right: 30px;
        padding-left: 10px;
    }

    #header {
        background-color: black; 
        margin: auto; 
        width: 100%;
    }

    #header_w80 {
        background-color: black; 
        margin: auto; 
        width: 80%;
    }

    #header_padding {
        background-color: black; 
        width: 100%; 
        padding: 10px 0px;
    }

    em {
        font-weight: 700;
        font-style: oblique;
    }

    #bullet_list {
        list-style-image: url(https://cdn.discordapp.com/attachments/1019679825545408522/1027685556651556944/genewolfe.png);
    }

    footer a {
        background-color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    body {
        width: 80%;
        margin: auto;
    }

    nav ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        background-color: black;
    }

    nav {
        text-align: center;
    }
  
    nav li {
        display: inline-block;
        width: 20%;
        background-color: black;
        padding: 5px;
    }

    nav li:hover {
        background-color: purple;
        padding: 5px;
    }

    footer {
        position: relative;
        bottom: 0;
        margin: auto;
    }

    .tblcell1 {
        width: 470px!important;
    }
}