/* This feels like spaghetti code */

html {background-color: hsl(0, 1%, 20%);}
* {color: #ffffff;}
* {font-family: Verdana;}

main {
    background-image: url("../../images/Background\ Image.png");
    background-color: hsl(0, 1%, 20%);
}

.centered_text {
    text-align: center; 
    vertical-align: middle; 
    width: 100%; 
    font-weight: bold;
}

.centered_text_heading {
    font-family: Garamond; 
    font-size: 35px; 
    font-weight: bold; 
    text-align: center; 
    vertical-align: middle; 
    width: 100%;
}

#header {
    background-color: black; 
    margin: auto; 
    width: 100%;
}

#header_w80 {
    background-color: black; 
    margin: auto; 
    width: 80%;
}

#header_padding {
    background-color: black; 
    width: 100%; 
    padding: 10px 0px;
}

em {
    font-weight: 700;
    font-style: oblique;
}

#bullet_list {
    list-style-image: url(https://cdn.discordapp.com/attachments/1019679825545408522/1027685556651556944/genewolfe.png);
}

footer a {
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    width: 80%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

nav {
    text-align: center;
}
  
nav li {
    display: inline-block;
    width: 20%;
    background-color: black;
    padding: 5px;
}

nav li:hover {
    background-color: purple;
    padding: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    margin: auto;
}